In [2]:
# Yordanos Yirgu
# Exercie 11.1
# zoo.py
def hours():
    print('Open 9-5 daily')
# In Jupyter Notebook
import zoo
zoo.hours()

# Exercie 11.1
# In Jupyter Notebook
import zoo as menagerie
menagerie.hours()

Open 9-5 daily
Open 9-5 daily

In [3]:
# Yordanos Yirgu 
# Exercise 16.4
import sqlite3
# Creating SQLite database and table using sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Drop the existing table
cursor.execute("DROP TABLE IF EXISTS books")
# Creating the 'books' table with specified fields
cursor.execute('''CREATE TABLE IF NOT EXISTS books (
                    id INTEGER PRIMARY KEY,
                    title TEXT,
                    author TEXT,
                    year INTEGER
                )''')
conn.commit()
conn.close()

# 16.8
from sqlalchemy import create_engine, MetaData, Table, select

# Using sqlalchemy to connect to the sqlite3 database and select the title column in alphabetical order
engine = create_engine('sqlite:///books.db')
metadata = MetaData()
books_table = Table('books', metadata, autoload=True, autoload_with=engine)

with engine.connect() as conn:
    stmt = select([books_table.columns.title]).order_by(books_table.columns.title)
    result = conn.execute(stmt).fetchall()

print("Titles in alphabetical order using sqlalchemy:")
for title in result:
    print(title[0])

Titles in alphabetical order using sqlalchemy: